@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(51, 51, 51);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 51, 51, 51;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #cbd2ff;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

.dark-text {
  color: #1A1443;
}